.scrolling-list-container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #2c2f33;
}

.post-card {
    background-color: #23272a;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    color: #ffffff;
}

.post-picture img {
    width: 100%;
    border-radius: 8px;
}

.selling-info {
    margin-top: 8px;
    font-weight: bold;
    color: #7289da;
}

.post-date {
    margin-top: 4px;
    color: #b9bbbe;
}
